[user]
	email = chausies7@gmail.com
	name = chausies
[color]
	ui = true
[alias]
	st = status -uno
	b = branch
	co = checkout
  cm = commit -m
	cam = commit -am
	undo = reset --soft HEAD~1
	pom = push origin master
